@model CarSalesApp.Web.ViewModels.Administration.Makes.DetailsMakesViewModel

@{
    ViewData["Title"] = "Edit Make And Model";
}

<div align="center">
    <h1>Make with all models</h1>
    <br />
</div>
<div class="center" align="center">
    <h3 style="color: cornflowerblue">@Model.Name</h3>
    @foreach (var currentModel in Model.Models)
    {
        <h4 style="color: firebrick">@currentModel.Name</h4>
    }
    <a asp-action="All">To All Makes</a>
</div>
