@model CarSalesApp.Web.ViewModels.Administration.Makes.EditModelViewModel

@{
    ViewData["Title"] = "Edit Make And Model";
}

<div align="center">
    <h1>Edit make and/or model</h1>
    <br />
</div>


<form class="form-group col-md-6 center" align="center" asp-controller="Makes" asp-action="Edit" method="post">
    <div id="makeName">
        <label>Make</label>
        <input asp-for="MakeName" id="makeNameinput" class="form-control" placeholder="Enter New Make" />
        <span asp-validation-for="MakeName" class="text-danger"></span>
        <p style="color: lightslategrey; font-size:12.5px">(Change make in above field)</p>
    </div>
    <div>
        <label>Model</label>
        <input asp-for="Name" class="form-control" placeholder="Enter Model" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <br />
    <div class="col-md">
        <button type="submit" class="btn btn-secondary">Save Changes</button>
        <a class="btn btn-secondary" asp-action="All" role="button">Back</a>
    </div>
</form>

