[*.cs]

# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = none

# SA1005: Single line comments should begin with single space
dotnet_diagnostic.SA1005.severity = silent

# SA1516: Elements should be separated by blank line
dotnet_diagnostic.SA1516.severity = silent

# SA1208: System using directives should be placed before other using directives
dotnet_diagnostic.SA1208.severity = silent

# CS1998: Async method lacks 'await' operators and will run synchronously
dotnet_diagnostic.CS1998.severity = silent

# xUnit1012: Null should not be used for value type parameters
dotnet_diagnostic.xUnit1012.severity = silent
