@model CarSalesApp.Web.ViewModels.Cars.CreateAdCarInputFormViewModel
@using CarSalesApp.Data.Models.Enums;

@{
    ViewData["Title"] = "CreateAdCar";
    var makes = Model.Makes.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
    var year = DateTime.Now.Year;
    var year2 = Enumerable.Range(DateTime.Now.Year, 100).ToList();
    

}

<h1>CreateAdCar</h1>

<form id="az">
    <button type="submit" class="btn btn-primary">Privacy</button>
</form>

<form class="form-group col-md-4" asp-controller="Cars" asp-action="CreateAdCar" method="post">
    <div class="form-group">


        <label asp-for="MakeId">Makes</label>
        <select asp-for="MakeId" asp-items="@makes" id="makeList" class="form-control btn btn-secondary dropdown-toggle">
            <option>--Select Make--</option>
        </select>

        <label asp-for="ModelId">Model </label>
        <select asp-for="ModelId" id="modelId" class="selectpicker form-control btn btn-secondary dropdown-toggle">
            <option>--Select Model--</option>
        </select>


        <label asp-for="BodyId">Bodies</label>
        <select asp-for="BodyId" class="form-control btn btn-secondary dropdown-toggle">
            <option>--Select Body--</option>
            @foreach (var cBody in Model.Bodies)
            {
                <option value="@cBody.Id">@cBody.Title</option>
            }
        </select>

        <label asp-for="Month">Months</label>
        <select asp-for="Month" asp-items="Html.GetEnumSelectList<MonthsOfYear>()"
                class="form-control btn btn-secondary dropdown-toggle">
            <option>--Select Month--</option>
        </select>

        <label asp-for="Year">Years</label>
        @Html.DropDownList("Year", new SelectList(Enumerable.Range(1950, DateTime.UtcNow.Year-1950+1).ToList()), "-- Select Year --", new { @class = "form-control btn btn-secondary dropdown-toggle" })

    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        //Insert default item "Select" in dropdownlist on load
        //$(document).ready(function () {
        //    var items = "<option value='0'>--Select Models--</option>";
        //    $("#modelId").html(items);
        //});
        //Bind League dropdownlist
        $("#makeList").change(function () {
            var makeId = $("#makeList").val();
            var url = "/api/data/getmodels";

            $.getJSON(url, { makeId: makeId }, function (data) {
                var item = "";
                $("#modelId").empty();
                $.each(data, function (i, model) {
                    item += '<option value="' + model.value + '">' + model.text + '</option>'
                });
                $("#modelId").html(item);
            });
        });

    </script>
}




