@model CarSalesApp.Web.ViewModels.Administration.Dashboard.IndexViewModel
@{
    this.ViewData["Title"] = "Admin dashboard";
}

<h4>List with users</h4>
<form class="" asp-area="Administration" asp-controller="Dashboard" asp-action="CreateAdmin" method="post" enctype="multipart/form-data">
    <input asp-for="@Model.Username" type="text" value="" placeholder="Enter username" />
    <button type="submit" class="btn btn-info">Add/Remove admin role</button>
    
    <table class="" style="width:60%">
        <tr>
            <th>Username</th>
            <th>Admin</th>

        </tr>

        @foreach (var user in Model.CurrentUsers)
        {
            <tr class="blank_row">
                <td></td>
            </tr>
            <tr>
                <td>@user.Username</td>
                @if (user.IsAdmin)
                {
                    <td>Yes</td>
                }
                else
                {
                    <td>No</td>
                }
            </tr>

        }
    </table>

</form>


