@model CarSalesApp.Web.ViewModels.Entites.AddMakeAndModelViewModel
@{
    ViewData["Title"] = "AddMakeAndModel";
    var makes = Model.Makes;
    var makesList = makes.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
}

<div align="center">
    <h1 id="d">Add make and/or model</h1>
    <br />
</div>


<form class="form-group col-md-6 col-md-offset-3" align="center" asp-controller="Entities" asp-action="AddMakeAndModel" method="post">
    <div class="">
        <div>
            <label>Makes</label>
            <select asp-items="makesList" id="makeList" class="form-control btn btn-secondary dropdown-toggle">
                <option>--Select Make--</option>
            </select>
            <span asp-validation-for="Make" class="text-danger"></span>
        </div>
        <div id="makeName" hidden>
            <!--<label asp-for="MakeName"></label>-->
            <br />
            <input asp-for="Make" id="makeNameinput" class="form-control" placeholder="Enter New Make" />
            <span asp-validation-for="Make" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Model"></label>
            <input asp-for="Model" class="form-control" placeholder="Enter Model" />
            <span asp-validation-for="Model" class="text-danger"></span>
        </div>
        <br />
        <div class="col-md">
            <button type="submit" class="btn btn-secondary">Add</button>
        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        //document.getElementById("myText").disabled = false;
        //$("#makeList").change(function () {
        //    var makeId = $("#makeList").val();
        //    var make = $("#myText");
        //    if (makeId == 99999) {
        //        make.disabled = false;
        //    }
        //    else {
        //        make.disabled = true;
        //    }
        //}
        var makes = document.getElementById("makeList")
        makes.addEventListener("change", function myfunction() {
            var makeDiv = document.getElementById("makeName");
            var makeinput = document.getElementById("makeNameinput");

            if (makes.value === "999999999") {
                makeinput.value = "";
                makeDiv.hidden = false;
                //x.style.display = "none";
            } else {
                makeDiv.hidden = true;
                makeinput.value = makes.value;
                //x.style.display = "block";
            }
        })
    </script>
}