@model CarSalesApp.Web.ViewModels.Administration.Engines.AllEngineViewModel
@using CarSalesApp.Data.Models.Enums;

@{
    ViewData["Title"] = "All Engine";
    var makes = Model.Makes.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
}
<div class="row">
    <div class="col-md-4">
        <div>
            <label>Makes</label>
            <select asp-items="@makes" id="makeList" class="form-control btn btn-secondary dropdown-toggle" onchange="getModelForCurrentMake()">
                <option>--Select Make--</option>
            </select>
            <span class="text-danger"></span>
        </div>
        <div>
            <label>Model </label>
            <select id="modelId" class="selectpicker form-control btn btn-secondary dropdown-toggle">
                <option>--Select Model--</option>
            </select>
        </div>
        <div>
            <label>Fuel</label>
            <select id="fuelList" asp-items="Html.GetEnumSelectList<FuelType>()" class="form-control btn btn-secondary dropdown-toggle" onchange="getDrivesWithCurrentFuelForAllEngines()">
                <option>--Select Fuel--</option>
            </select>
        </div>
    </div>
    <div class="col-md-4">
        <label>Drives</label>
        <p style="color: lightslategrey; font-size:12.5px"> (Click on model for edit)</p>
        <div type="disk" asp-for="DrivelId" id="driveId">
        </div> 
    </div>
</div>

<script>
    function getDrivesWithCurrentFuelForAllEngines() {
        $("#driveId").html("hahahah");
        var fuelId = $("#fuelList").val();
        var modelId = $("#modelId").val();
        var url = "/api/data/getDrives";

        $.getJSON(url, { modelId: modelId, fuelId: fuelId }, function (data) {
            var item = "";
            $("#driveId").empty();
            $.each(data, function (i, drive) {
                item += '<li style="color:;font-size:17.5px" value="' + drive.value + '"><a href="/Administration/Engines/Edit/' + drive.value + '">' + drive.text + '</a></li>'
                //item += '<option value="' + drive.value + '">' + drive.text + '</option>'
            });
            $("#driveId").html(item);
        });
    }
</script>