@using CarSalesApp.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form method="get" action="/Home/Privacy">
    <button type="submit" class="btn btn-primary">Privacy</button>
</form>
<!--<button type="submit" class="btn" <a href="/Home/Privacy"</a>Privacy></button>
<a class="nav-link text-dark" asp-area="" asp-controller="Settings" asp-action="Index">Settings</a>-->
