@{
    
    ViewData["Title"] = "AddEntities";

}
                    
<div align="center">
    <h1>AddEntities</h1>
    <br />
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3" align="center">
            <h3><a asp-action="AddEngine">Engine</a></h3>
            <a asp-controller="Engines" asp-action="AddEngine"><img src="~/images/Engine.jpg" width="200" alt="Engine" /></a>
        </div>
        <div class="col-md-3" align="center">
            <div>
                <h3>Make and model</h3>
                <a asp-controller="Makes" asp-action="AddMakeAndModel"><img src="~/images/Makes.jpg" width="200" alt="Make" /></a>
            </div>
            <div>
                <h5><a asp-controller="Makes" asp-action="AddMakeAndModel">Add</a></h5>
                <h5><a asp-controller="Makes" asp-action="Details">Details</a></h5>
                <h5><a asp-controller="Makes" asp-action="AddMakeAndModel">Edit</a></h5>
            </div>
        </div>
        <div class="col-md-3" align="center">
            <h3><a asp-controller="Features" asp-action="AddFeature">Feature</a></h3>
            <a asp-controller="Features" asp-action="AddFeature"><img src="~/images/Features.jpg" width="200" alt="Feature" /></a>
        </div>
        <div class="col-md-3" align="center">
            <h3><a asp-action="AddBody">Body</a></h3>
            <a asp-action="AddBody"><img src="~/images/Body.jpg" width="200" height="120" alt="Body" /></a>
        </div>
    </div>
</div>                                                                      
